#version=RHEL9

text
cdrom

lang en_US.UTF-8
keyboard us
timezone Asia/Baku --utc

network --bootproto=dhcp --device=link --activate
hostname datahoteling-almalinux

rootpw --lock
user --name=packer --groups=wheel --password=${packer_password} --plaintext

zerombr
clearpart --all --initlabel
autopart --type=lvm

bootloader --location=mbr

firewall --enabled --service=ssh
selinux --enforcing

services --enabled="sshd,chronyd"

%packages
@^minimal-environment
openssh-server
sudo
curl
wget
vim-minimal
chrony
dnf-utils
cloud-init
%end

%post --log=/root/ks-post.log

echo 'packer ALL=(ALL) NOPASSWD: ALL' > /etc/sudoers.d/packer
chmod 440 /etc/sudoers.d/packer

systemctl enable sshd

%end

reboot
